body {
  background-color: #fff;
  color: #000;
  line-height: 120%;
}

header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  background: #fff;
  padding: 90px 50px;
}

.header__links-list {
  display: flex;
  gap: 10px;
  list-style: circle;
  list-style-position: inside;
  font-size: 18px;
}

.link--no-marker {
  list-style-type: none;
}

.link--no-underline {
  text-decoration: none;
}

.link--underline {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.logo {
  display: block;
  width: 137px;
}

.address {
  max-width: 240px;
  justify-self: end;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.cover {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #4b0676;
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

.cover__overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  z-index: 2;
  gap: 23px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.cover__word {
  display: block;
}

.cover__word--left {
  align-self: flex-start;
  margin-top: 165px;
  margin-left: 50px;
}

.cover__word--center {
  align-self: center;
  margin-left: 30px;
}

.cover__word--right {
  align-self: flex-end;
  margin-right: 20px;
}
.cover__description {
  z-index: 2;
}
